# Storage Backend Configurations
# "local" = use local file system for images and local db file
# "gcp" = use GCP for images and db syncing
STORAGE_BACKEND=local
ADMIN_MODE=true

# --- GCP Settings (Required if STORAGE_BACKEND=gcp) ---
# Bucket for public image assets
GCP_BUCKET_NAME=my-public-images-bucket

# Private bucket for the photos.db file
GCP_DB_BUCKET_NAME=my-private-db-bucket


# --- Deployment Settings ---
GCP_PROJECT_ID=your-project-id
GCP_SERVICE_NAME=photo-gallery
GCP_REGION=us-central1

# --- Webhook Settings ---
# A secure token used to verify internal API requests (e.g., DB sync)
WEBHOOK_TOKEN=my-super-secret-token
# The URL of your deployed production service (used by the sync script)
PRODUCTION_URL=http://localhost:8000
