# Storage Backend Configurations
# "local" = use local file system for images and local db file
# "gcp" = use GCP for images and db syncing
STORAGE_BACKEND=local
ADMIN_MODE=true

# --- GCP Settings (Required if STORAGE_BACKEND=gcp) ---
# Bucket for public image assets
GCP_BUCKET_NAME=my-public-images-bucket

# Private bucket for the photos.db file
GCP_DB_BUCKET_NAME=my-private-db-bucket

# CDN Settings (Optional)
CDN_DOMAIN=cdn.example.com
